<head>
</head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<script src="https://code.jquery.com/jquery-latest.js"></script>

<title>Google Web ASR</title>

<style>
* {
	font-family: Verdana, Arial, sans-serif;
}

a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color: #33F;
}

.button {
	background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
	border: 1px solid #076bd2;
	border-radius: 3px;
	color: #fff;
	display: none;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.3;
	padding: 8px 25px;
	text-align: center;
	text-shadow: 1px 1px 1px #076bd2;
	letter-spacing: normal;
}

.center {
	padding: 10px;
	text-align: center;
}

.final {
	color: black;
	padding-right: 3px;
}

.interim {
	color: gray;
}

.info {
	font-size: 14px;
	text-align: center;
	color: #777;
	display: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.sidebyside {
	display: inline-block;
	width: 45%;
	min-height: 40px;
	text-align: left;
	vertical-align: top;
}

#headline {
	font-size: 40px;
	font-weight: 300;
}

#info {
	font-size: 20px;
	text-align: center;
	color: #777;
	visibility: hidden;
}

#results {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ddd;
	padding: 15px;
	text-align: left;
	min-height: 150px;
}

#start_button {
	border: 2;
	background-color: transparent;
	padding: 5;
}

#stop_synthesis {
	border: 0;
	background-color: transparent;
	padding: 0;
}
</style>


<h1 class="center" id="headline">Google Web ASR-IPAACA</h1>
<canvas id="meter" width="500" height="50"></canvas>
<div id="info">
	<p id="info_start">Klicke rechts auf den Start-Button um die
		Spracherkennung zu starten.</p>
	<p id="info_speak_now">Mikrofon ist aktiv. Um die Spracherkennung zu stoppen drücke den Stop-Button.</p>
	<p id="info_no_speech">
		No speech was detected. You may need to adjust your <a
			href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
			microphone settings</a>.
	</p>
	<p id="info_no_microphone" style="display: none">
		No microphone was found. Ensure that a microphone is installed and
		that <a
			href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
			microphone settings</a> are configured correctly.
	</p>
	<p id="info_allow">Klicke 'Erlauben' um das Mikrofon zu aktivieren.</p>
	<p id="info_denied">Permission to use microphone was denied.</p>
	<p id="info_blocked">Permission to use microphone is blocked. To
		change, go to chrome://settings/contentExceptions#media-stream</p>
	<p id="info_upgrade">
		Web Speech API wird von diesem Browser nicht unterstützt. Upgrade zu <a
			href="//www.google.com/chrome">Chrome</a> Version 25 oder neuer.
	</p>
	<p id="final_span">Final Span.</p>
</div>
<div class="right">
	<button id="start_button" name="start" onclick="startButton(event)">
		Start
	</button>
</div>
<br>
<p id="input"></p>
<script>
var gResultIndex = 0;
</script>
<script>
console.log(document.location.pathname);
	showInfo('info_start');
	var final_transcript = '';
	var recognizing = false;
	var ignore_onend;
	var start_timestamp;
	if (!('webkitSpeechRecognition' in window)) {
		upgrade();
	} else {
		start_button.style.display = 'inline-block';
		
		var recognition = new webkitSpeechRecognition();
		
		recognition.maxAlternatives = 20;
		recognition.nospeechtimeout = 20000;
		recognition.continuous = true;
		recognition.interimResults = true;
		recognition.onstart = function() {
			recognizing = true;
			showInfo('info_speak_now');
			var text = document.getElementById('start_button').firstChild;
			text.data = 'Stop';
		};
		recognition.onerror = function(event) {
			// TODO SKLETT IMPORTANT remove log
			console.log('recognition.onerror');
			if (event.error == 'no-speech') {				
				showInfo('info_no_speech');
				ignore_onend = true;
			}
			if (event.error == 'audio-capture') {
				
				showInfo('info_no_microphone');
				ignore_onend = true;
			}
			if (event.error == 'not-allowed') {
				if (event.timeStamp - start_timestamp < 100) {
					showInfo('info_blocked');
				} else {
					showInfo('info_denied');
				}
				ignore_onend = true;
			}
		};
		recognition.onend = function() {
			if(active) {
				recognition.start();
				return;
			}
			var text = document.getElementById('start_button').firstChild;
			text.data = 'Start';
			
			recognizing = false;
			if (ignore_onend) {
				return;
			}
			if (!final_transcript) {
				showInfo('info_start');
				return;
			}
			showInfo('');
			if (window.getSelection) {
				window.getSelection().removeAllRanges();
				var range = document.createRange();
				range.selectNode(document.getElementById('final_span'));
				window.getSelection().addRange(range);
			}

		};
		recognition.onspeechstart = function(event) {
			
		}
		recognition.onaudiostart = function(event) {
			
		}
		recognition.onsoundstart = function(event) {
		
		}

		recognition.onresult = function(event) {
			
			var recognitionResults = [];
			var confidences = [];
			
			var interim_transcript = '';		
			var lastResult;

			
			var index = 0;
			var nBestListLength;
			for (var i = event.resultIndex; i < event.results.length; ++i) {
				nBestListLength = event.results[i].length;
				for(var j = 0; j < nBestListLength; ++j) {
					recognitionResults.push(event.results[i][j].transcript);
					confidences.push(event.results[i].item(j).confidence);
				}			
			}			
				console.log(recognitionResults);
				$.url = "http://localhost:8080";
				    $.ajax({url: $.url, 
					    type: "POST",
					    encoding:"UTF-8",
					    data: {
								"recognitionResults" : recognitionResults,
								"confidences" : confidences,
								"finalHypo" : event.results[event.resultIndex].isFinal
						},
					    success: function(result){
							document.getElementById("input").innerHTML = "Sie sagten: " + recognitionResults[recognitionResults.length - 1] + " [resultIndex=" + event.resultIndex + "]";
							gResultIndex = event.resultIndex;		
				    },
			    	error: function(jqXHr, XMLHttpRequest,
							textStatus, errorThrown, response) {
						console.log(XMLHttpRequest);
						console.log(textStatus);
						console.log(errorThrown);
						console.log(response.status + " " + response.statusText);
				    }
				});			
			if (final_transcript || interim_transcript) {
				showButtons('inline-block');
			}
		};
	}
	function upgrade() {
		start_button.style.visibility = 'hidden';
		showInfo('info_upgrade');
	}
	var two_line = /\n\n/g;
	var one_line = /\n/g;
	function linebreak(s) {
		return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
	}
	var first_char = /\S/;
	function capitalize(s) {
		return s.replace(first_char, function(m) {
			return m.toUpperCase();
		});
	}
	function startButton(event) {

		if (recognizing) {
			recognition.stop();
			active = false;
			return;
		}

		active = true;
		final_transcript = '';
		recognition.lang = 'de-DE';
		recognition.start();
		ignore_onend = false;
		final_span.innerHTML = '';
		showInfo('info_allow');
		showButtons('none');
		start_timestamp = event.timeStamp;

	}	
	function showInfo(s) {
		if (s) {
			for (var child = info.firstChild; child; child = child.nextSibling) {
				if (child.style) {
					child.style.display = child.id == s ? 'inline' : 'none';
				}
			}
			info.style.visibility = 'visible';
		} else {
			info.style.visibility = 'hidden';
		}
	}
	var current_style;
	function showButtons(style) {
		if (style == current_style) {
			return;
		}
		current_style = style;
	}	
</script>